extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Suspendisse potenti. Nullam euismod mi et mattis varius. Donec lectus lectus, finibus dictum lacus accumsan, gravida placerat urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Cras vel erat augue. Phasellus placerat, ipsum vel dignissim bibendum, risus ante maximus risus, ac hendrerit dolor dolor fermentum orci. Cras at ante imperdiet, efficitur neque ac, gravida erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. 

                p Maecenas vel lacus est. Duis facilisis volutpat nunc, et vehicula purus blandit non. Phasellus euismod posuere elit, vitae viverra nisi. 

                p Curabitur lectus sapien, consequat a lacinia quis, posuere vitae nisl. Duis vel eros eu metus convallis condimentum. Vivamus sagittis ac lacus quis efficitur. Donec aliquet, elit eget interdum vestibulum, neque justo finibus augue, vel sollicitudin sem leo ut eros. 

    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid md-4")
                    h2.mb-4 Seguridad 
                    p Vivamus sagittis ac lacus quis efficitur. Donec aliquet, elit eget interdum vestibulum, neque justo finibus augue, vel sollicitudin sem leo ut eros. 

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid md-4")
                    h2.mb-4 Mejores Destinos
                    p Vivamus sagittis ac lacus quis efficitur. Donec aliquet, elit eget interdum vestibulum, neque justo finibus augue, vel sollicitudin sem leo ut eros. 

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid md-4")
                    h2.mb-4 Mejor Precio
                    p Vivamus sagittis ac lacus quis efficitur. Donec aliquet, elit eget interdum vestibulum, neque justo finibus augue, vel sollicitudin sem leo ut eros. 